<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.diagnostics>
    <sharedListeners>
      <add name="ColoredConsole"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics" />

      <add name="Logfile"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
        initializeData="Logfile.log">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Information" />
      </add>

      <!--add name="rollingfile2"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
        initializeData="File1-PropertyFilter.log">
        <filter type="Essential.Diagnostics.PropertyFilter, Essential.Diagnostics"
                initializeData="Id == 1001" />
      </add>
      <add name="rollingfile3"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
        initializeData="File3-ExpressionFilter.log">
        <filter type="Essential.Diagnostics.ExpressionFilter, Essential.Diagnostics"
                initializeData=' Id >= 8000 || System.Threading.Thread.CurrentPrincipal.Identity.Name == "User1" ' />
      </add-->
    </sharedListeners>
    <sources>
      <source name="CAEN_x730" switchValue="All">
        <listeners>
          <clear />
          <add name="ColoredConsole" />
          <add name="Logfile" />
          <!-->add name="rollingfile2" />
          <add name="rollingfile3" /-->
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>

</configuration>