<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.diagnostics>
    <sharedListeners>
      <add name="ColoredConsole"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics" />

      <add name="Logfile"
        type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
        initializeData="Logfile.log">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Information" />
      </add>
    </sharedListeners>
    <sources>
      <source name="CAEN_x730" switchValue="All">
        <listeners>
          <clear />
          <add name="ColoredConsole" />
          <add name="Logfile" />
        </listeners>
      </source>
      <source name="newRBS_Console" switchValue="All">
        <listeners>
          <clear />
          <add name="ColoredConsole" />
          <add name="Logfile" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>

</configuration>